.container{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    height: 50px;
    background-color: #fff;
    align-items: center;
    box-shadow: 0 5px 10px rgb(160, 155, 155);
    border-radius: 0 0 15px 15px ;
    position: fixed;
    top: 0;
}
a{
    text-decoration: none;
}